#text {
    font-family: 'Courier New', monospace, sans-serif;
    color: lime;
}
#bdy {
    background-color: black;
}
#original {
    width: 25px;
    height: 25px;
    position: absolute;
    background-color: red;
    display: none;
    transition: background-color 500ms;
}
#orginal:hover {
    background-color: limegreen;
}